{% extends 'base.html' %}

{% block content %}
    

    <section class="notes manager-content">
        <h2>Notes</h2>
        <p class="tagline">Dare to dream, make Memories and Spinnach</p>

        <nav class="navigation-secondary">
            <ul>
                <li><a href="/notes/new"><i class="fa-solid fa-circle-plus mr-1"></i>Add a Note</a></li>
            </ul>
        </nav>

        <ul class="manager-list">
            {% for note in all_notes %}
                <li>
                    <a href="/notes/{{ note.id }}">{{ note.title }}</a>
                    <span>{{note.date}}</span>
                </li>
            {% endfor %}
        </ul>
    </section>

 
{% endblock content %}  