{% extends 'base.html' %}

{% block content %}
    <section class="notes manager-content">
        <h2>{{ note.title }}</h2>
        <nav class="navigation-secondary">
            <ul>
                <li>
                    <a href="/notes/new/{{ note.attraction.id }}"><i class="fa-solid fa-circle-plus mr-1"></i>Add Note</a>
                </li>
                <li>
                    <a href="/attractions/{{ note.attraction.id }}/edit">Edit {{ note.attraction.name }}</a>
                </li>
                <li>
                    <form action="/notes/{{ note.id }}/delete" method="POST">
                        <button class="link-button" type="submit">Delete {{ note.name }}</button>
                    </form>
                </li>
            </ul>
        </nav>

        <h3>{{ note.attraction.name }}</h3>
        <p class="centered-text">
            {{ note.attraction.city.name }}, 
            {{ note.attraction.city.country.name }}
        </p>

        <h4>{{ note.title }}</h4>
        <p>{{ note.description}}</p>

        <p><a href="/notes/{{ note.id }}/edit">Edit</a></p>
    </section>
{% endblock content %}