{% extends 'base.html' %}

{% block content %}
<section class="countries manager-content">
    <h2>Country Manager</h2>
    <p class="tagline">Journey the worls, find you Zen.</p>
    <nav class="navigation-secondary">
        <ul>
            <li><a href="/countries/new"><i class="fa-solid fa-circle-plus mr-1"></i>Add New Country</a></li>
        </ul>
    </nav>
    
    
    <ul class="manager-list">
    {% for country in all_countries %}
    <!-- Countries as UL?? -->
        <li>
    <a href="/countries/{{ country.id }}">
            <img src="https://flagcdn.com/16x12/{{country.code.lower()}}.png" srcset="https://flagcdn.com/32x24/{{country.code.lower()}}.png 2x,
            https://flagcdn.com/48x36/{{country.code.lower()}}.png 3x" width="24" height="18" alt="{{country.name}}">
    
            {{ country.name }}</a>  
            <span>{{ country.region }} {{ country.capital }} {{ country.code }}</span>
    
        </li>
    
    
        {% endfor %}
    </ul>
</section>




{% endblock content %}