{% extends 'base.html' %}

{% block content %}
<section class="cities manager-content">
    <h2>Add City</h2>
    <form action="/cities" method="POST">
        <div class="form-child">
            <label for="city">City Name</label>
            <input type="text" name="city">
        </div>

        <div class="form-child">
            <label for="country" method="POST">Country</label>
                <select id="country" name="country" class="form-control">
                    <optgroup label="My Countries">
                        {% for country in countries %}
                            <option value="{{ country.name }}">{{ country.name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="World">
                        {% for new_country in list_of_countries %}
                            <option value="{{new_country['name']}}">{{ new_country['name'] }}</option>
                            
                        {% endfor %}
                    </optgroup>        
                </select>
                <span><a href="/countries/new"><i class="fa-solid fa-circle-plus mr-1"></i>Add Country</a></span>

        </div>

        <div class="form-child">
            <label for=""></label>
            <input type="submit" value="Add City">
        </div>
    </form>
</section>
{% endblock content %}