{% extends 'base.html' %}

{% block content %}
    <h2>Add City</h2>
    <form action="/cities" method="POST">
        <div>
            <label for="city">City Name</label>
            <input type="text" name="city">
        </div>

        <div>
            <label for="country" method="POST">Country</label>
                <select id="country" name="country" class="form-control">
                    <optgroup label="My Countries">
                        {% for country in countries %}
                            <option value="{{ country.name }}" disabled>{{ country.name }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="World">
                        {% for new_country in list_of_countries %}
                            <option value="{{new_country['name']}}">{{ new_country['name'] }}</option>
                            
                        {% endfor %}
                    </optgroup>        
                </select>
        </div>

        <div>
            <label for=""></label>
            <input type="submit" value="Add City">
        </div>
    </form>
{% endblock content %}