/* Fonts (Google Fonts import)
        - Roboto 100, 100i, 300, 400, 700
        - Raleway 200, 400, 600
 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');


:root {
    /* Higher Number= Darker!!!! 

    
    */

    --accent-color-10: hsl(30, 100%, 92%);
    --accent-color-15: hsl(30, 100%, 80%);
    --accent-color-20: hsl(30, 100%, 60%);
    --accent-color-40: hsl(30, 100%, 40%);
    --accent-color-50: hsl(30, 60%, 20%);

    --color-40: hsl(0, 0%, 10%);
    --color-35: hsl(0, 0%, 18%);
    --color-30: hsl(0, 0%, 30%);
    --color-20: hsl(0, 0%, 60%);
    --color-10: hsl(0, 0%, 90%);

    --surface-40: hsl(290, 6%, 10%);
    --surface-35: hsl(290, 10%, 12%);
    --surface-30: hsl(290, 10%, 30%);
    --surface-20: hsl(290, 10%, 60%);
    --surface-10: hsl(290, 10%, 90%);

    --box-shadow-20: 2px 4px 9px 1px rgba(0, 0, 0, 0.8);

    --link-transition:  color 0.3s ease-in-out, 
                        background-color 0.6s ease-in-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

html {
    /*  16px * 62.5% = 10px  */
    /* font-size: 14px; */
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: var(--surface-40);
    color: var(--color-10);
}

body {
    max-width: 88vw;
    margin: 0 auto;
}

header {
    min-height: 6rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navigation {
    list-style: none;
    display: flex;
}

ul.navigation>li {
    margin-right: 1.2rem;
}

.navigation a {
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 0.02rem;
    color: var(--accent-color-15);
    padding: 0.3rem 1.2rem;
    border-bottom: 1px solid transparent;
    transition: var(--link-transition);
}

.navigation a:hover {
    color: var(--accent-color-30);
    border-bottom: 1px solid var(--accent-color-20);
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, sans-serif;
    font-weight: 200;
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--accent-color-15);
    letter-spacing: 0.12rem;
    text-transform: capitalize;
}

main {}

ul {
    list-style: none;
    margin-left: 3rem;
    margin-right: 3rem;
    margin: 0 3rem 1rem 3rem;
}

h1 {
    font-style: italic;
    /* line-height: 4rem; */
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 3.53rem;
    color: var(--accent-color-15);
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}

h4 {
    font-size: 1.563rem;
    margin-top: 0;
}

h5 {
    font-size: 1.25rem;
    margin-top: 0;
}


h2 a {
    color: var(--accent-color-15);
    text-decoration: none;
    transition: var(--link-transition);
}

h2 a:hover {
    color: var(--accent-color-10);
    text-decoration: none;
}


p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.1rem;
    max-width: 70ch;
    margin-left: 2.4rem;
    letter-spacing: 0.084rem;
}

p.centered-text {
    display: block;
    text-align: center;
    margin-left: 0;
}

p.tagline {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 0.8rem;
    text-align: center;
    line-height: 2.8rem;;
}

footer {
    margin-top: 2.4rem;
    min-height: 6rem;
}


.dashboard__background {
    background-image: url('/static/img/tianshu-liu-bright.jpeg');
    /* background-color: var(--surface-30); */
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: var(--accent-color-10);
    border-radius: 1rem;
    border: 1px solid var(--surface-40);
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 82vw;
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "att att att"
        "notes cities countries";
    justify-content: center;
}


.dashboard__child {
    width: auto;
    margin: 0 2.4rem;
    background-color: var(--surface-35);
    border-radius: 1rem;
    /* border: 1px solid var(--accent-color-50); */
    opacity: 0.96;
    box-shadow: var(--box-shadow-20);
}

.dashboard__attractions {
    grid-area: att;
}

.dashboard__notes {
    grid-area: notes;
}

.dashboard__cities {
    grid-area: cities;
}

.dashboard__countries {
    grid-area: countries;
}


.attractions-grid {
    /* background-color: blueviolet; */
    display: grid;
    width: 100%;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    justify-content: space-around;
    align-items: start;
    padding: 0 2rem;
}


.attractions-grid-child {
    width: 100%;
    height: 100%;
    /* background-color: var(--surface-40); */
    /* border: 1px solid var(--accent-color-20); */
}

.attractions-grid-child a {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:400;
    width: 100%;
    /* line-height: 2.2rem; */
    margin: auto;
    /* margin-bottom: 1.2rem; */
    padding: 0.6rem 1.2rem;
    /* background-color: var(--surface-40); */
    color: var(--accent-color-10);
    /* border-bottom: 1px solid transparent; */
    border-left: 2px solid var(--color-35);
    border-radius: 0.16rem;
    transition: var(--link-transition);
    letter-spacing: 0.1rem;;
}

.attractions-grid-child a:hover {
    background-color: var(--surface-40);
    color: var(--accent-color-15);
    /* border-bottom: 1px solid var(--accent-color-10); */
    border-left: 2px solid var(--accent-color-10);
}