/* Fonts (Google Fonts import)
        - Roboto 100, 100i, 300, 400, 700
        - Raleway 200, 400, 600
 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,200;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');


:root {
    /* Higher Number= Darker!!!! 

    
    */

    --accent-color-10: hsl(30, 100%, 92%);
    --accent-color-15: hsl(30, 100%, 80%);
    --accent-color-20: hsl(30, 100%, 60%);
    --accent-color-40: hsl(30, 100%, 40%);
    --accent-color-50: hsl(30, 60%, 20%);

    --color-40: hsl(0, 0%, 10%);
    --color-35: hsl(0, 0%, 18%);
    --color-30: hsl(0, 0%, 30%);
    --color-20: hsl(0, 0%, 60%);
    --color-10: hsl(0, 0%, 90%);

    --surface-40: hsl(290, 6%, 10%);
    --surface-35: hwb(290 11% 87%);
    --surface-30: hsl(290, 10%, 30%);
    --surface-20: hsl(290, 10%, 60%);
    --surface-10: hsl(290, 10%, 90%);

    --box-shadow-20: 2px 4px 9px 1px rgba(0, 0, 0, 0.8);

    --text-shadow-50: 1px 3px 4px rgba(0, 0, 0, 0.6);
    --text-shadow-10: 0px 2px 3px rgba(0, 0, 0, 0.4);

    --link-transition: color 0.3s ease-in-out,
        background-color 0.6s ease-in-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

html {
    /*  16px * 62.5% = 10px  */
    /* font-size: 14px; */
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: var(--surface-40);
    background: linear-gradient(35deg, 
        rgba(0,0,0,0.985) 0%, 
        rgba(0,0,0,0.85) 47%, 
        rgba(0,0,0,0.984) 100%);
    color: var(--color-10);
}

body {
    max-width: 88vw;
    margin: 0 auto;
}

header {
    min-height: 4rem;
    padding-top: 1.2rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navigation,
.navigation-secondary>ul {
    list-style: none;
    display: flex;
}

ul.navigation>li,
.navigation-secondary>ul>li {
    margin-right: 1.2rem;
}

.navigation a,
.navigation-secondary a,
.link-button {
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 0.02rem;
    color: var(--accent-color-15);
    padding: 0.3rem 1.2rem;
    border-bottom: 1px solid transparent;
    transition: var(--link-transition);
}

.navigation a:hover,
.navigation-secondary a:hover,
.link-button:hover {
    color: var(--accent-color-30);
    border-bottom: 1px solid var(--accent-color-20);
}

.navigation-secondary {
    margin: 1.6rem;
    border-bottom: 1px solid var(--accent-color-50);
    font-weight: 700;
    text-shadow: var(--text-shadow-50);
}

.navigation-secondary a {
    letter-spacing: 0.14rem;
    text-shadow: var(--text-shadow-50);

}

.manager-content {
    margin-top: 1.2rem;
    border: 1px solid var(--accent-color-50);
}

.manager-content .tagline {
    margin-top: 1.2rem;
}



/* .navigation-secondary a {
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 0.02rem;
    color: var(--accent-color-15);
    padding: 0.3rem 1.2rem;
    border-bottom: 1px solid transparent;
    transition: var(--link-transition);
} */




.navigation-secondary a:hover {
    border-top: 1px solid var(--accent-color-10);
}

.navigation-secondary {
    border: none;
    background: transparent;
}

h1,
h2,
h3,
h4 {
    font-family: Raleway, sans-serif;
    font-weight: 200;
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3;
    color: var(--accent-color-15);
    letter-spacing: 0.12rem;
    text-transform: capitalize;
    text-shadow: var(--text-shadow-50);
}

main {}

ul {
    list-style: none;
    margin-left: 3rem;
    margin-right: 3rem;
    margin: 0 3rem 1rem 3rem;
}

ul.manager-list {
    font-size: 1.6rem;
    ;
    padding: 2.4rem;
    background-color: var(--surface-40);
    opacity: 0.96;
    border-radius: 1.2rem;
    box-shadow: var(--box-shadow-20);
}

ul.manager-list>li {
    margin-bottom: 0rem;
    padding: 0 1.2rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


ul.manager-list>li>span {
    font-size: 1.2rem;
}

dl {
    /* max-width: 60%; */
    margin: auto;
    padding: 1.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    color: var(--accent-color-10);
    background-color: var(--surface-40);
    opacity: 0.92;
    box-shadow: var(--box-shadow-20);
}

dt {
    margin-bottom: 0.8rem;
    font-weight: 700;
}

dd {
    margin-left: 0.6rem;
    margin-bottom: 1.6rem;
}

h1 {
    font-style: italic;
    /* line-height: 4rem; */
    margin-bottom: 0;
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 3.2rem;
    color: var(--accent-color-15);
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}

h4 {
    font-size: 1.563rem;
    margin-top: 0;
}

h5 {
    font-size: 1.25rem;
    margin-top: 0;
}


h2 a {
    color: var(--accent-color-15);
    text-decoration: none;
    transition: var(--link-transition);
}

h2 a:hover {
    color: var(--accent-color-10);
    text-decoration: none;
}


a {
    color: var(--accent-color-20);
    transition: var(--link-transition);
}


a:hover {
    color: var(--accent-color-10);
}

ul.manager-list a {
    display: block;
    color: var(--accent-color-15);
    text-decoration: none;
    padding: 0.6rem 0;
    transition: var(--link-transition);
}

ul.manager-list li:hover {
    background-color: var(--surface-40);
    box-shadow: var(--box-shadow-20);
}

ul.manager-list a:hover {
    color: var(--accent-color-20);
}
p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2.1rem;
    max-width: 70ch;
    margin-left: 2.4rem;
    letter-spacing: 0.084rem;
}



footer {
    margin-top: 2.4rem;
    min-height: 6rem;
}


.dashboard__background {
    background-image: url('/static/img/tianshu-liu-bright.jpeg');
    /* background-color: var(--surface-30); */
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: var(--accent-color-10);
    border-radius: 1rem;
    border: 1px solid var(--surface-40);
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 82vw;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "att att att"
        "notes cities countries";
    justify-content: center;
}


.dashboard__child {
    width: auto;
    margin: 0 2.4rem;
    background-color: var(--surface-35);
    border-radius: 1rem;
    /* border: 1px solid var(--accent-color-50); */
    opacity: 0.96;
    box-shadow: var(--box-shadow-20);
}

.dashboard__attractions {
    grid-area: att;
}

.dashboard__notes {
    grid-area: notes;
}

.dashboard__cities {
    grid-area: cities;
}

.dashboard__countries {
    grid-area: countries;
}


.attractions-grid {
    /* background-color: blueviolet; */
    display: grid;
    width: 100%;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    justify-content: space-around;
    align-items: start;
    padding: 0 2rem;
}


.attractions-grid-child {
    width: 100%;
    height: 100%;
    /* background-color: var(--surface-40); */
    /* border: 1px solid var(--accent-color-20); */
}

.attractions-grid-child a {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    /* line-height: 2.2rem; */
    margin: auto;
    /* margin-bottom: 1.2rem; */
    padding: 0.6rem 1.2rem;
    /* background-color: var(--surface-40); */
    color: var(--accent-color-10);
    /* border-bottom: 1px solid transparent; */
    border-left: 2px solid var(--color-35);
    border-radius: 0.16rem;
    transition: var(--link-transition);
    letter-spacing: 0.1rem;
    ;
}

.attractions-grid-child a>span {
    display: block;
    font-size: 1rem;
    padding: 0.3rem 1rem;
}

.attractions-grid-child a:hover {
    background-color: var(--surface-40);
    color: var(--accent-color-15);
    /* border-bottom: 1px solid var(--accent-color-10); */
    border-left: 2px solid var(--accent-color-10);
}

.manager-content {
    min-height: 80vh;
    border-radius: 0.9rem;
    padding-top: 1.2rem;
}

.cities {
    background-image: url('/static/img/city-by-night.jpeg');
    background-position: center;
    background-size: cover;
}

.countries {
    background-image: url('/static/img/sunset-over-wing.jpeg');
    background-position: center;
    background-size: cover;
}

.attractions {
    background-image: url('/static/img/cn-tower-processed.jpeg');
    background-position: center;
    background-size: cover;

}

.notes {
    background-image: url('/static/img/candle-final.jpeg');
    background-position: center;
    background-size: cover;

}

.panel-grid {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
}

.panel-grid__children {
    height: 100%;
    width: 80%;
    margin: auto;
}

.flag>img {
    margin: auto;
}


/* 
*******            HELPERS 
*/
.mr-1 {
    margin-right: 1rem
}


p.centered-text {
    max-width: 60ch;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 1.6rem;
}

p.tagline {
    max-width: 80vw;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 200;
    margin: auto;
    margin-bottom: 1.6rem;
    text-align: center;
    line-height: 2.8rem;
    ;
}

.description {
    margin: auto;
    font-family: Raleway, sans-serif;
    color: var(--accent-color-10);
    background-color: var(--surface-40);
    line-height: 2.4rem;
    padding: 2.4rem;
    border-radius: 1.2rem;
    opacity: 0.94;
    box-shadow: var(--box-shadow-20);
    border: 1px solid var(--)
}
.center{
    text-align: center;
}

/* 
*******            FORMS 
*/


form {
    border: 1px solid var(--color-30);
    max-width: 54vw;
    margin: 2.4rem auto;
    padding: 2rem;
    background-color: var(--surface-40);
    border-radius: 1rem;
    opacity:0.92;
    ;
}

.form-child {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}

.form-child>label {
    width: 9rem;
}

.form-child>input,
.form-child select,
.form-child textarea {
    flex-grow: 1;
    background-color: var(--color-10);
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
}

.form-child>span {
    display: block;
    height: 100%;
    padding: 0.4rem 1rem;
}


input[type=submit] {
    background-color: var(--surface-30);
    color: var(--accent-color-30);
    transition: var(--link-transition);
}


input:hover {
    background-color: var(--surface-40);
    color: var(--accent-color-40);
}


.navigation-secondary form {
    margin: 0;
    padding: 0;
}


.link-button {
    /* padding: 0.3rem 0; */
    border: unset;
    border-radius: 0;
    background-color: transparent;
}

.link-button:hover {
    color: #f20;
}


/* .form-child > span {
    display:block;
    height: 100%;
    padding: 0.4rem 1rem;
}

.form-child > span {
    display:block;
    height: 100%;
    padding: 0.4rem 1rem;
} */