{% extends 'base.html' %}

{% block content %}
    
    <h2>Edit {{ attraction.name }}</h2>

    <form action="/attractions/{{ attraction.id }}" method="POST">
        <div class="form-child">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ attraction.name }}">
        </div>

        <div class="form-child">
            <label for="city">City</label>
            <select name="city_id" id="city">
                <optgroup label="Choose City">
                    {% for city in all_cities %}
                        <option value="{{ city.id }}">{{ city.name }} - {{ city.country.name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <span>
                <a href="/cities/new">
                    <i class="fa-solid fa-circle-plus mr-1"></i>Add City
                </a>
            </span>


        </div>

        <div class="form-child">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" value="{{ attraction.date }}">
        </div>

        <div class="form-child">
            <label for="description">Description</label>
            <textarea 
                name="description" 
                id="description" 
                cols="30" 
                rows="10" 
                placeholder="Enter a description">{{ attraction.description }}</textarea>
        </div>

        <div class="form-child">
            <label for="visited">Visited</label>
            <select name="visited" id="visited">
                <option value="0" {% if not attraction.visited %}selected="selected"{% endif %}>Not Yet</option>
                <option value="1" {% if attraction.visited == True %}selected="selected"{% endif %}>Already visited</option>
            </select>
        </div>

        <div class="form-child">
            <label for=""></label>
            <input type="submit" value="Edit">
        </div>
    </form>

{% endblock content %}