{% extends 'base.html' %}

{% block content %}
    
    <section class="attractions manager-content">
        <h2>Attractions</h2>
        <p class="tagline">Some wonderful and inspiring text in here, Ohh yeah Baby!</p>

        <nav class="navigation-secondary">
            <ul>
                <li><a href="/attractions/new"><i class="fa-solid fa-circle-plus mr-1"></i>Add Attraction</a></li>
            </ul>
        </nav>

        <ul class="manager-list">
            {% for attraction in all_attractions %}
                <li>
                    <a href="/attractions/{{attraction.id}}">{{ attraction.name }}</a> 
                    <span>{{ attraction.city.name }}</span>
                </li>
            {% endfor %}
        </ul>

    </section>

{% endblock content %}