{% extends 'base.html' %}

{% block content %}
<section class="attractions manager-content">
    <h2>
        {{ attraction.name }},
        {{ attraction.city.name }},
        {{attraction.city.country.code}},
        {{attraction.city.country.region}}
    </h2>
    
    
    <nav class="navigation-secondary">
        <ul>
            <li><a href="/attractions/new"><i class="fa-solid fa-circle-plus mr-1"></i>Add Attraction</a></li>
 
            <li>
                <a href="/attractions/{{ attraction.id }}/edit">Edit {{ attraction.name }}</a>

            </li>
        </ul>
    </nav>

    <p class="description">{{ attraction.date }} - {{ attraction.description }}</p>
    
    
    
</section>



{% endblock content %}  

