<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Travel Mate</title>
</head>
<body>
    <header>
        <h1>Get To ...</h1>
        <nav>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/cities">Cities</a></li>
                <li><a href="/attractions">Attractions</a></li>
                <li><a href="/notes">Notes</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
            
        {% endblock content %}
    </main>
    <footer>

        <strong>Get To ... </strong> can not be held responsible for any List Index Errors you may encounter!
    </footer>


</body>
</html>